
.market {
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0f051d;
    font: 2.5rem;
    color:white;
}
.thead-border {
    border: 1px solid #fff;
}
.tl 
    { text-align: left; 
}

.overflow-auto::-webkit-scrollbar {
    width: 8px;
}

.overflow-auto::-webkit-scrollbar-track {
    background: #000000;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: #fff;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}