
.market {
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0f051d;
    font: 2.5rem;
    color:white;
}
.tl 
    { text-align: left; 
}

